body {
  background-color: rgb(167, 193, 219);
  background-image: url("../img/000000.jpg");
}
h1 {
  border: 20px solid rgb(196, 220, 240);
  color: rgb(208, 228, 245);
  font-size: 500%;
  text-align: center;
}
p {
  text-align: center;
}
.p1 {
  font-size: 500%;
  color: aquamarine;
}
.p2 {
  font-size: 200%;
  color: blueviolet;
}
.note {
  font-size: 150%;
  color: cornflowerblue;
}

header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
.section {
  display: flex;
}

/* Style the list inside the menu */
/*nav ul {
  list-style-type: none;
  padding: 0;
} */

.section > div {
  text-align: center; 
  }
.side {
  display: flex;
  flex: 30%;
  background-color: lightskyblue;
}

.side > .side_img {
  flex: 80%;
}

.side > .side_statements {
  flex: 20%;
  background-color: lightgreen;
}
.article {
  flex: 70%;
  /*padding: 20px;*/
  font-size: 1vw;
  background-color: #f1f1f1;
  /*height: 300px; */
}

/* Clear floats after the columns */
/*section::after {
  content: "";
  display: table;
  clear: both;
} */

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: 60%;
}